<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB1tbIAqN0XqcgTR1-          FxYoVTVq6Is6lD98&sensor=false">
    </script>
    <script src="~/scripts/logic.js"></script>
    <div id="default">
        <input type="button" onclick="initialize()" value="Click to view all the locations" />
    </div>
    <div id="map-canvas"> </div>

</body>
</html>
